<div class="position-fixed bottom-0 end-0 p-3 border-0 z-1">
  <div class="toast rounded-5"[ngClass]="{'show': promptToaster(),
    'toast-active': promptToaster()
  }">
    <div class="body-container d-flex p-3">
      <div class="d-flex align-items-center pill-container pe-3">
        <div class="vertical-pill" [ngClass]="{'bg-warning': toasterType() === 'warning', 'bg-danger': toasterType() === 'danger'}"></div>
      </div>
      <div class="d-flex flex-end flex-column w-100">
        <div class="toast-header border-0 py-0 bg-transparent">
          <strong class="me-auto" [ngClass]="{'text-warning': toasterType(), 'text-danger': toasterType() === 'danger' }">Warning!</strong>
          <button type="button" class="btn-close text-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-white">{{toasterMessage()}}</div>
      </div>
    </div>
  </div>
</div>
